.gradient-text {
    background: linear-gradient(to right, purple, violet, #fff, purple, violet, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
